{% extends '_layouts/detail.njk' %}
{% set book = data.books[1] %}

{% block info %}
  {{ book.title }}
{% endblock %}

{% block story %}
  <h2>Undead: Right column content</h2>
  <p>Zombie ipsum brains reversus ab cerebellum viral inferno, thalamus nam rick mend grimes malum cerveau cerebro.</p>
{% endblock %}